@import 'normalize';
@import 'vars';

.article {
  background-color: lightgray;
  min-height: 200vh;

  &Inner {
    margin: 32px auto;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000088;
    max-width: 1250px;
    width: 60%;
  }
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 32px;
}

.subtitle {
  color: $black;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.text {
  color: $black;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.imgWrap {
  max-width: 778px;
  width: 100%;
  margin: 12px auto;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
